
.analytics-page-container {
  padding: 20px;
  margin: 20px;
}
/* Hover effect for rows */
.ant-table-row.custom-row-height:hover td {
  background-color: rgba(148, 110, 255, 0.16) !important; /* 16% transparency */
}

/*container for the table*/
.table-container {
  width: 100%;
  max-width: 100%;
  height: 700px; /* Set the desired height */
  overflow: auto; /* Ensure the table scrolls within this container */
}

/* company logo and search bard container */
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 0px;
  background-color: #fff;
}

.logo-and-info {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.company-subtitle {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.search-bar {
  max-width: 500px;
  width: 100%;
  margin-left: auto; /* Ensure the search bar is pushed to the right */
}

/*removes border inbetween column's in table header*/
.ant-table-thead > tr > th {
  border-right: none !important; /* Remove right border to eliminate dividers */
}

.ant-table-thead > tr > th:last-child {
  border-right: 1px solid #f0f0f0 !important; /* Add right border to the last header column */
}
.ant-table-tbody > tr > td:last-child {
  border-right: 1px solid #f0f0f0 !important; /* Add right border to the last body column */
}

